*,*:after,*:before{
  box-sizing: border-box;
}
.active{
  color: red;
  border: 1px solid red;
  box-sizing: border-box;
}
.togglerContainer{
  display: flex;
}
.togglerItem{
  margin: 5px 5px 5px 5px;
  
}
form{
  width: 20%;
  display: inline-block;
}
form input{
  padding: 10px;
  margin-top: 20px;
}
.bold{
  font-weight: bold;
  margin-top: 20px;
}